@import "../../../../styles/variables.scss";

.product-info {
  width: 35.1rem;
  padding: 3.2rem;
  height: max-content;
  border-radius: 0.4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  &__brand {
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0.8rem;
  }
  &__name {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $primary-40;
    margin-bottom: 2.4rem;
    font-weight: 400;
  }
  &__available-siezes {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1.6rem;
  }
  &__sizes {
    display: grid;
    grid-gap: 0.4rem;
    margin-bottom: 2.4rem;
    grid-template-columns: repeat(auto-fit, minmax(6.8rem, max-content));
  }
  &__price {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
    text-align: center;
    border-top: 1px solid $primary-5;
    margin-bottom: 1.2rem;
    padding-top: 1.2rem;
  }
  &__plus-minus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  &__count {
    font-size: 1.4rem;
    width: 100%;
    background-color: $primary-5;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

.bottom-info {
  &__item {
    border-top: 1px solid $primary-5;
    &:last-child {
      border-bottom: 1px solid $primary-5;
    }
    &.activeDescr {
      .bottom-info__descr-text {
        padding-bottom: 22px;
        max-height: 300px;
      }
    }
  }
  &__top {
    display: block;
    color: $primary-40;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: 0.8rem;
  }
  &__bot {
    display: block;
    padding-bottom: 0.8rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  &__btn {
    background-color: transparent;
    font-size: 1.4rem;
    border: none;
    display: flex;
    cursor: pointer;
    width: 100%;
    align-items: center;
    padding: 2.2rem 0;
    justify-content: space-between;
    transition: color 0.3s ease;
    &:hover {
      color: $primary-40;
    }
  }
  &__descr {
    span {
      position: relative;
      display: block;
      height: 2px;
      width: 16px;
      background-color: $primary-40;
      transform: translateX(-5px);
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 16px;
        background-color: $primary-40;
        top: 50%;
        left: 7px;
        transform: translateY(-50%);
        transition: all 0.3s ease;
      }
    }
    &.active {
      span {
        &::after {
          top: -7px;
          transform: rotate(-90deg);
        }
      }
    }
  }
  &__descr-text {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
}

