@import "../../../../styles/variables.scss";

.admin-product {
    background-color: $background;
    &__container{
        display: flex;
    }
    &__content {
        padding: 20px;
        width: 100%;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}