.TitleMain {
    font-weight: 400;

    padding-bottom: 2.4rem;
    &.middle {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    &.high {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
}
