@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700;900&display=swap');
@import "variables";

html{
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  background-color: $backgroundMain;
  color: $mainTextColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol{
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  &__main{
    padding-top: 75px;
  }
}
.footer {
  margin-top: auto;
}
.container{
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.input{
  width: 100%;
  padding: 1.3rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
}

.font_title-m {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.font_sm {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.font_m {
  font-size: 1.4rem;
  line-height: 2rem;
}