.add-brand {
    padding: 3rem 2rem;
    border-radius: 0.4rem;
    width: 400px;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__close {
        cursor: pointer;
        transform: translateY(4px);
    }
}