@import "../../../../styles/variables.scss";

.new-products {
  padding-top: 4.8rem;
  &__slider {
    position: relative;
  }
  &__arrows {
    position: absolute;
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    bottom: 0;
    z-index: 3;
    transform: translateX(50%);
    &:hover{
        border-color: $primary-40;
        color: $primary-40;
    }
    svg {

    }
  }
  &__next {
    right: calc(50% - 100px);
  }
  &__left {
    right: calc(50% + 100px);
  }
}
.swiper {
    padding-bottom: 50px;
    &-button{
        &-disabled {
            border-color: $primary-40;
            color: $primary-40;
            cursor: default;
        }
    }
    &-pagination {
        position: absolute;
        bottom: 13px;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        &-bullet {
            display: block;
            width: 6px;
            height: 6px;
            background-color: $primary-40;
            border-radius: 50%;
            transition: transform 0.3s ease;
            &:not(:last-child) {
                margin-right: 16px;
            }
            &-active {
                background-color: #000;
                transform: scale(1.1);
            }
        }
    }
}
